<div class="navbar-inner">
  <div class="sidebar-pusher">
    <a href="" class="waves-effect waves-button waves-classic push-sidebar">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class="logo-box">
    {{#link-to "index" class="logo-text"}}
      Dota2Monster
    {{/link-to}}
  </div>
</div>